
#top {
    position: relative;
    height: 150px;
    width: 100%;
    background-color: #036fab;
    color: white;
}

#bottom {
    height: 30px;
    background-color: #c2dfef;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

#left {
    float: left;
    height: 600px;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    height: 600px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    height: 600px;
    padding: 5px;
    justify-content: center;
    display: flex;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


